h1 {
  color: green;
}

img {
  width: 400px;
}

span {
  font-size: 18px;
}

#spanId {
  margin: 50px;
}

#thirdDiv {
  height: 600px;
  width: 500px;
  background-color: rgba(145, 100, 13, 0.4);
  padding: 50px;
  border: solid red 2px;
}
